<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>管理主页</title>
    <link rel="stylesheet" href="../stylesheets/index.css" type="text/css">
    <!-- <link rel="stylesheet" href='../stylesheets/driverindex.css' type="text/css"> -->
</head>

<body>
    <div class="index">
        <div class="info">
            <% if (myself.leangth != 0) {%>
            <a>本人基本信息如下:</a><br>
            <a>工号：<%= myself[0].driver_id %></a><br>
            <a>姓名：<%= myself[0].driver_name %></a><br>
            <a>性别：<%= myself[0].driver_sex %></a><br>
            <a>身份：<%= myself[0].driver_identify %></a><br>
            <% if (myself[0].road_id) {%>
                <a>所走线路：<%= myself[0].road_id %></a><br>
            <% }%>
            <% if (myself[0].busteam_id) {%>
                <a>所属车队：<%= myself[0].busteam_id %></a><br>
            <% }%>
            <% }%>
        </div>
        <a href="/manager/logout" class="exit"><img id="logout" src="../images/logout.png"></a><br>
    </div>
    <div class="link">
        <a href="/manager/querydriverbase">查询某个车队下的司机基本信息</a><br>
        <a href="/manager/querydriverillegal">查询某名司机在某个时间段的违章详细信息</a><br>
        <a href="/manager/querybusteamillegal">查询某个车队在某个时间段的违章统计信息</a><br>
        <a href="/manager/insertdriverinfo">录入司机信息</a><br>
        <a href="/manager/insertbusinfo">录入车辆信息</a><br>
        <a href="/manager/insertdriverillegalrecord">录入司机违章信息</a>
    </div>
</body>

</html>